<article>
    <form action="" method="get">
        <div class="col-12">
            <a href="/private/delete">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Supprimer le profil</button>
            </a>
        </div>
    </form> 
    <div class="col-12">
        <a href="">
        <button type="submit" class="btn btn-primary">Déconnexion</button>
        </a>
    </div>
</article>