<article class="cardAd">
    <div class="container">
        <div class="card mb-3 border border-dark rounded-lg shadow-lg" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-12 col-sm-12">
                    <h5 class="card-title text-left title__adCard">{{ adPrivate.title }}</h5>
                </div>
                <div class="col-8 col-sm-9">
                    <div class="body__adCard">
                        <p class="card-text text-left description__adCard">{{ adPrivate.description }}</p>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</article>