<article class="cardAd">
    <div class="container">
        <div class="card my-3 border border-1 border-dark rounded shadow" style="max-width: 540px;">
            <div class="row g-5">
                <div class="col-12 col-sm-12">
                    <h5 class="card-title text-left title__adCard">{{ ad['title'] }}</h5>
                </div>
                <div class="col-8 col-sm-9">
                    <div class="body__adCard">
                        <p class="card-text text-left description__adCard">{{ ad['description'] }}</p>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</article>