<article class="cardAd">
    <h3 class="text-center fw-bolder mb-4 col-lg-6 private__title">Vos annonces !</h3>
    <div class="container d-flex">
        <div class="card mb-3 col-lg-6 border border-dark rounded-lg shadow-lg private__card" style="max-width: 540px;">
            <div class="row g-0 mb-5 pb-5">
                <div class="col-12 col-sm-9 mb-5 pb-5">
                    <div class="body__adCard">
                        <p class="card-text description__adCard text-center">-- Vous n'avez pas encore d'annonce avec votre profil --</p>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</article>
<br><br>
<br><br>
<br><br>
