<article class="cardAd">
    <h4 class="text-center fw-bolder mb-4 col-lg-12">Vos annonces !</h4>
    <div class="container d-flex">
        <div class="card mb-3 border border-dark rounded-lg shadow-lg" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-12 col-sm-9">
                    <div class="body__adCard">
                        <p class="card-text description__adCard text-center">-- Vous n'avez pas encore d'annonce avec votre profil --</p>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="col-12 my-4 d-flex justify-content-center">
        <a href="/adsubmit">
            <button type="submit" class="btn btn-primary">Ajouter une annonce</button>
        </a>
    </div>
</article>