<article class="cardAd">
    <h4>Vos annonces !</h4>
    <div class="container">
        <div class="card mb-3 border border-dark rounded-lg shadow-lg" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-12 col-sm-12">
                    <h5 class="card-title text-left title__adCard">{{ ad['title'] }}</h5>
                </div>
                <div class="col-8 col-sm-9">
                    <div class="body__adCard">
                        <p class="card-text text-left description__adCard">-- Vous n'avez pas encore d'annonce avec votre profil --</p>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="col-12">
        <a href="/adsubmit">
            <button type="submit" class="btn btn-primary">Ajouter une annonce</button>
        </a>
    </div>
</article>