<article class="cardAd">
    <div class="container col-lg-9 d-lg-flex justify-content-end">
        <div class="card my-3 border border-1 border-dark rounded shadow" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-12 col-12 mx-1">
                    <h5 class="card-title text-left title__adCard">{{ adPrivate.title }}</h5>
                </div>
                <div class="col-8 col-12 mx-1">
                    <div class="body__adCard">
                        <p class="card-text text-left description__adCard">{{ adPrivate.description }}</p>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</article>