{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/home.css">{% endblock %}

{% block content %}
<div class="container">
    <form  action="/home/search" method="get">
        <div class="row search__bar">
            <img class="search__img" src="/assets/images/logosearch.png" alt="band">
                <div class="search"> 
                    <input type="text" class="search-input" placeholder="Que recherchez-vous ?" name=""> 
                    <a href="/home/search" class="search-icon"> <i class="fa fa-search"></i> </a> 
                </div>
        </div>
        <div class="container filters">
            <div class="row">
                <div class="col-4">
                    <select class="form-select" aria-label="Instrument">
                        <option value="">Instrument</option>
                        {% for instrument in instruments %}
                            <option value="{{ instrument['name']}}" class="dropdown-item" type="button">{{ instrument['name']}}</a>
                        {% endfor %}   
                    </select>
                </div>
                <div class="col-4">
                    <select class="form-select" aria-label="Genre">
                        <option value="">Genre</option>
                        {% for genre in genres %}
                            <option value="{{ genre['name']}}" class="dropdown-item" type="button">{{ genre['name']}}</a>
                        {% endfor %} 
                    </select>
                </div>
                <div class="col-4">
                    <select class="form-select" aria-label="Experience">
                        <option value="">Experience</option>
                        <option value="guitare">Débutant</option>
                        <option value="batterie">Avancé</option>
                        <option value="basse">Expert</option>
                    </select>
                </div>             
            </div>
        </div>
    </form>
</div>   

 <main class="container">
        <section class="row col-lg-12">
            {% for ad in ads %} 
                <div class="col-12 col-lg-6 p-0">
                    {% include "_adCard.html.twig" %}
                </div>
            {% endfor %}              
        </section>
    </main> 
<br><br><br>

{% endblock %}