{% extends 'layout.html.twig' %}

{% block content %}
<div class="container mt-lg-5 mt-4">
    <form  action="" method="get">
        <div class="row, center-block">  
            <div class="col-xs-12">
                <div class="input-group">
                    <div class="input-group mb-3">
                        <input type="text" name="'query" class="form-control border shadow"  placeholder="Rechercher..." aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Go !</button>
                    </div>
                </div>
            </div>
        </div>   
          
        <div class="container">
            <div class="row">
                <div class="row, col-xs-4">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Instrument
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                            {% for instrument in instruments %}
                                <a href="#" class="dropdown-item" type="button">{{ instrument['name']}}</a>
                            {% endfor %}
                            </div>
                        </div>
                </div>
                <div class="row, col-xs-4">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Genre
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                            {% for genre in genres %}
                                <a href="#" class="dropdown-item" type="button">{{ genre['name']}}</a>
                            {% endfor %}   
                            </div>
                        </div>
                </div>
                <div class="row, col-xs-4">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Expérience
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item" type="button">Débutant</a>
                                <a href="#" class="dropdown-item" type="button">Avancé</a>
                                <a href="#" class="dropdown-item" type="button">Expert</a> 
                            </div>
                        </div>
                </div>    
            </div>
        </div>
    </form>
</div>            
<main class="container">
        <section class="row row-col-1 row-col-lg-2 mt-4">
            {% for ad in ads %}
                {% include "_adCard.html.twig" %} 
            {% endfor %}   
        </section>
</main>    
{% endblock %}