{% extends 'layout.html.twig' %}

{% block content %}
    <main class="container">
        <section class="row row-col-1 row-col-lg-2 mt-4">
            {% for ad in ads %}
                {% include "_adCard.html.twig" %} 
            {% endfor %}   
        </section>
    </main>    
{% endblock %}