{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/home.css">{% endblock %}

{% block content %}
<div class="container">
    <form  action="" method="get">
        <div class="row search__bar">
            <img class="search__img" src="/assets/images/logosearch.png" alt="band">
            <div class="search"> <input type="text" class="search-input" placeholder="Que recherchez-vous ?" name=""> <a href="#" class="search-icon"> <i class="fa fa-search"></i> </a> </div></div>
        </div>
        <div class="container filters">
            <div class="row">
                <div class="col-4">
                    <select class="form-select" aria-label="Instruments">
                        <option value="guitare">Guitare</option>
                        <option value="batterie">Batterie</option>
                        <option value="basse">Basse</option>
                        <option value="chant">Chant</option>
                        <option value="piano">Piano</option>
                        <option value="clavier">Clavier</option>
                        <option value="cuivres">Cuivres</option>
                        <option value="percussion">Percussion</option>
                        <option value="accordéon">Accordéon</option>
                    </select>
                </div>
                <div class="col-4">
                    <select class="form-select" aria-label="Genre">
                        <option value="rock">Rock</option>
                        <option value="pop">Pop</option>
                        <option value="metal">Metal</option>
                        <option value="funk">Funk</option>
                        <option value="soul">Soul</option>
                        <option value="hard-Rock">Hard-Rock</option>
                        <option value="punk-Rock">Punk-Rock</option>
                        <option value="disco">Disco</option>
                        <option value="reggae">Reggae</option>
                        <option value="musette">Musette</option>
                        <option value="jazz">Jazz</option>
                        <option value="classique">Classique</option>
                    </select>
                </div>
                <div class="col-4">
                    <select class="form-select" aria-label="Instruments">
                        <option value="guitare">Débutant</option>
                        <option value="batterie">Avancé</option>
                        <option value="basse">Expert</option>
                    </select>
                </div>             
            </div>
        </div>
    </form>
</div>   

{% for ad in ads %}
    {% include "_adCard.html.twig" %} 
{% endfor %}   

<br><br>

{% endblock %}