<!--{% extends 'layout.html.twig' %}

{% block content %}
    <main class="container ad">
        <section class="row">
            <div class="col col-lg-4">
                {% for ad in ads %}
                    {% include "_adCard.html.twig" %} 
                {% endfor %}  
            </div>
        </section>
    </main>    
{% endblock %}-->