<article class="adCard">
    <a href= "profile/show?id={{ ad['id'] }}" class="text-decoration-none text-dark">
        <div class="container">
            <div class="card mb-3 border border-dark rounded-lg shadow-lg" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-12 col-sm-12">
                        <h5 class="card-title text-left title__adCard">{{ ad['title'] }}</h5>
                    </div>
                    <div class="col-3 col-sm-3">
                        <img id="image__adCard" src={{ ad['avatar'] }} class="img-fluid rounded-start" alt="user_picture">    
                    </div>
                    <div class="col-8 col-sm-9">
                        <div class="body__adCard">
                            <p class="card-text text-left description__adCard">{{ ad['description'] }}</p>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </a>
</article>
<form action="/home/search" method="get">
    <div class="container">
        <div class="input-group">
        <input type="search" name="query" class="form-control rounded" placeholder="Rechercher" aria-label="Search"aria-describedby="search-addon" id="query"/>
         <button type="button" class="btn btn-outline-primary">rechercher</button>   
    </div>

    </div>
    
    <div class="container">
        <input type="checkbox" class="btn-check" name="filter" id="btn-check" autocomplete="off" />
        <label class="btn btn-primary" for="btn-check">Guitare</label>

        <input type="checkbox" class="btn-check" name="filter" id="btn-check2" checked autocomplete="off" />
        <label class="btn btn-primary" for="btn-check2">Genre</label>

        <input type="checkbox" class="btn-check" name="filter" id="btn-check3" autocomplete="off" />
        <label class="btn btn-primary" for="btn-check3">Expert</label>

        <input type="checkbox" class="btn-check" name="filter" id="btn-check4" autocomplete="off" />
        <label class="btn btn-primary" for="btn-check4">Available</label>
    </div>
</form>
