<!---<footer class="footer">
    <nav class="navbar navbar-dark bg-dark text-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">The only music buddies finder !</span>
            <div class="footer_list">
                <ul class="navbar-nav">
                    <li class="ms-auto nav-item mx-lg-5 px-lg-5">
                        <a class="nav-link font-weight-bold" href="#">A propos</a>
                    </li>
                </ul>    
            </div>
        </div>
    </nav>
</footer> -->

<footer class="py-2 bg-dark text-light">
    <div div="footer" class="container-fluid m-0 ">
        <div class="row ">
            <div class="col text-nowrap">The only music buddies finder !</div>
            <div><a class="col nav-link text-light text-nowrap p-0 mr-3" href="about">A propos</a></div>
        </div>
    </div>
</footer>