<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <a class="navbar-brand mx-5 px-lg-3" href="#">
    <img src="/assets/images/logo.png" width="170" height="100" alt="logo">   
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">      
      <li class="nav-item mx-lg-5 px-lg-5">
        <a class="nav-link font-weight-bold" href="#">Rechercher une annonce</a>
      </li>
      <li class="nav-item mx-lg-5 px-lg-5">
        <a class="nav-link font-weight-bold" href="#">Déposer une annonce</a>
      </li>
      <li class="nav-item mx-lg-5 px-lg-5"> {# ajouter active pour mettre en surbrillance la page où on se trouve#}
        <a class="nav-link font-weight-bold" href="#">Se connecter</a>
      </li>
    </ul>     
  </div>
</nav>