#about {
    color: white;
    background-color: black;
    font-size: 1rem;
    padding: 0;
}

.about__exitImg {
    width: 2.5rem; 
    height: auto;
    margin-top: 1rem;
}

.about__anonymousImg {
    width: 90%;
    ;
}

.about__title {
    text-shadow: 2px 2px 2px #FF6D00;
    text-align: center;
    margin: 2rem 0 2rem 0;
    width: 80%;
    font-size: 3rem;
}

.about__text {
    text-align: center;
    width: 80%;
    font-size: 1.5rem;
}

.about__sign {
    text-shadow: 2px 2px 2px #FF6D00;
    text-align: right;
    margin: 1rem 1rem 0 0;
    width: 80%;
    font-size: 1.5rem;
}
