@font-face {
    font-family: titleFont;
    src: url("../fonts/Frijole-Regular.ttf");
}

@font-face {
    font-family: textFont;
    src: url("../fonts/Raleway-Medium.ttf");
}

:root {
    --main-bg-orange:rgb(255, 109, 0);
    --second-bg-orange: #FFB900;
    --main-figma-orange: #ff7B00;
    --second-figma-orange: #FF8B42;
    --main-black: #141414;
    --main-grey: #303030;
}

body, html {
    min-height: calc(100vh - 24px);
    font-family: textFont;
}

.main__background {
    background-image: url("../images/banner-bg.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left 100%;
    background-position-x: center; 
}
    
.navbar {
    margin: 1.5rem 2rem 2rem 2rem;
    border: 1px solid var(--main-black);
    border-radius: 10px;
    box-shadow: 6px 6px 5px var(--main-black);
    font-family: titleFont;
}

.nav-img {
    position: absolute;
    height: 5rem;
    top: -1rem;
    left: -1.5rem;
    filter: drop-shadow(0.8px 0.8px 0.1px var(--main-black));
}

.navbar-toggler {
    border: none;
    padding: 0;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 111, 0, 0.5);
}

.navbar-nav {
    font-size: 0.9rem;
    text-align: end;
    margin-top: 1rem;
    font-weight: normal;
}

.navbar-collapse {
    flex-grow: 0;
    margin-right: 1rem;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 3rem;
    background-color: var(--main-grey);  
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

.footer__elements, .footer__elements a { 
    white-space: nowrap;
    font-weight: bolder ;
    color: white;
    text-decoration: none; 
    margin: 0 0.5rem 0 0.5rem; 
}

.footer__elements a:hover {
    color: var(--main-bg-orange);
}

@media screen and (min-width: 990px) {
    body, html {
        min-height:calc(100vh - 48px)
    }
    .main__background {
        background-size: cover;
    }

    .navbar {
        margin: 3rem 5rem 3rem 5rem;
    }
    
    .nav-img {
        height: 8rem;
        top: -1.5rem;
        left: -4rem;
    }

    .navbar-nav {
        margin: 0;
        height: 4rem;
        font-size: 1rem;
        align-items: center
    }
   
    .nav-link {
       margin-left:  2rem;
    }

    .footer__elements {
    margin: 0 2rem 0 2rem; 
    } 
}

@media screen and (min-width: 1400px) {

    .navbar {
        margin: 5rem 5rem 3rem 8rem;
    }
    
    .nav-img {
        height: 10rem;
        top: -2.5rem;
        left: -4rem;
    }

    .navbar-nav {
        margin: 0;
        height: 4rem;
        font-size: 1.2rem;
        align-items: center
    }

    .nav-link {
        margin-left:  4rem;
    }

    footer {
        font-size: 1.2rem;
    }
}
