@font-face {
    font-family: titleFont;
    src: url("../fonts/Frijole-Regular.ttf");
}

@font-face {
    font-family: textFont;
    src: url("../fonts/Black\ Bones.ttf");
}

:root {
 
}

p h1 {
    font-family: textFont;
}


.footer {
    background-color: green;
}
