.footer {
    background-color: #303030;

@font-face {
    font-family: titleFont;
    src: url("../fonts/Frijole-Regular.ttf");
}

@font-face {
    font-family: textFont;
    src: url("../fonts/Royalacid.ttf");
}
