{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/adsubmit.css">{% endblock %}

{% block content %}
<main >
    <section class="ad_form">
        <section class="ad__form__header">
            <h6>Veuillez entrer votre annonce:</h6>
        </section>
        <form action="advalidate" method="POST">
            <section class="ad__form__box">
                    <div class="form-floating ad__title">
                    <input type="text" class="form-control" id="floating__ad__title" placeholder="title" name="title">
                    <label for="floatingTitle">titre de votre annonce</label>
                </div>  
                <div class="form-floating ad__input">
                    <textarea type="text" class="form-control" id="floating__ad__input" placeholder="descriptif" name="description"> </textarea>
                    <label for="floatingInput">descriptif</label>
                </div>
                <button class="btn btn-primary send__button" type="submit">Envoyer</button>
            </section>
        </form>
    </section>
</main>
{% endblock %}
