{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/login.css">{% endblock %}

{% block content %}
<main >
    <section class="login">
        <section class="login__header">
            <h2>Bonjour !</h1>
            <h6>Connectez-vous pour rejoindre la communauté.</h6>
        </section>
        <form action="" method="POST">
        <section class="login__form">
            <p class="login__error">{{ errors|last }}</p>
            <div class="form-floating login__nickname">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="nickname">
                <label for="floatingInput">Pseudo</label>
            </div>  
            <div class="form-floating login__password">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                <label for="floatingPassword">Mot de passe</label>
            </div>
            <button class="btn btn-primary login__button" type="submit">Se connecter</button>
        </section>
        </form>
    </section>
    <section class="login__new">
        <p>Vous n'avez pas encore de compte ?</p>
        <p><a href="private">Cliquez ici.</a></p>
    </section>
</main>
{% endblock %}